<div class="container-fluid sticky-top bg-light text-bg-info shadow mb-3">
    <div class="banner d-flex">
        <div>
            <a routerLink="/">
            <img src="./assets/logos/cropped-ict-ico.png" 
            class="img-fluid py2 my-2" alt="ICT Logo">
            </a>
        </div>
        <div class="title py-2 text-center">
            <h5>
                ICT Academy of Kerala
            </h5>
            <h2 class="">
                Trainer Management System
            </h2>
        </div>
    </div>
</div>

