<section>
  <div class="container-fluid m-1">
    
    <div class="row text-end">
      <div class="col">
        <button class="btn btn-success mx-4 my-2 px-4" data-bs-toggle="modal" data-bs-target="#updateProfileModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          Update Profile
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <div class="shadow text-center m-2">
          
          <img src="../assets/icons/user.png" width="150px" class="rounded-cirle img-fluid" alt="avatar">
          
        </div>
      </div>

      <!-- Basic Details -->
      <div class="col-lg-9">
        <div class="card mb-4">
          <div class="card-body shadow">
            
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{trainerData.name}} </p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{trainerData.address}} </p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Date of Birth</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{trainerData.dob}} </p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{trainerData.email}} </p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{trainerData.phone}} </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Education and others -->
      <div class="row mx-3 d-flex justify-content-around">
        <div class="col-sm-3 card shadow">
          <h5 class="card-title mt-1">Qualification</h5>
          <p class="text-muted"> {{trainerData.highestqual}} </p>

        </div>

        <div class="col-sm-3 card shadow">
          <h5 class="card-title mt-1">Previously worked at</h5>
          <p class="text-muted"> {{trainerData.company}} </p>
        </div>

        <div class="col-sm-3 card shadow">
          <h5 class="card-title mt-1">Previous Designation</h5>
          <p class="text-muted"> {{trainerData.designation}} </p>
        </div>
      </div>

    </div>
    
  </div>
</section>

<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
          <h3 class="modal-title">Trainer Profile Update</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"> </button>
      </div>
      <form [formGroup]="enroll_form" (ngSubmit)="enrollSubmit()">
      <div class="modal-body">
        <div class="form-body">  
          
            <div class="row mb-3">
              <label for="t_id" class="col-sm-4 col-form-label">Trainer ID</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" name="t_id" 
                formControlName="t_id" readonly>
              </div>
            </div>
              <div class="row mb-3">
                  <label for="fname" class="col-sm-4 col-form-label ">FullName</label>
                  <div class="col-sm-8">
                    <input class="form-control disabled" type="text" name="fname" 
                    value="{{trainerData.name}}" formControlName="fname" readonly>  
                  </div>
                </div>
              <div class="row mb-3">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input class="form-control" type="email" name="email" 
                  value="{{trainerData.email}}" formControlName="email" readonly>
                </div>
              </div>
              <div class="row mb-3">
                <label for="phone" class="col-sm-4 col-form-label">Phone No.</label>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="phone" 
                  value="{{trainerData.phone}}" formControlName="phone" readonly>
                </div>
              </div>
              <div class="row mb-3">
                  <label for="address" class="col-sm-4 col-form-label">Address</label>
                  <div class="col-sm-8">
                      <textarea class="form-control" id="address" rows="3" name="address" formControlName="address"></textarea>
                      <small *ngIf= "address?.invalid  && address?.touched" class="text-danger">Address required</small>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="photo" class="col-sm-4 col-form-label">Upload Photo</label>
                  <div class="col-sm-8"> 
                      <input (change)="onImageChangeFromFile($event)" class="form-control" type="file" id="formFile" name="photo" formControlName="photo" >
                      <small *ngIf= "photo?.hasError('required')" class="text-danger">Photo should be in JPEG format</small>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="hqual" class="col-sm-4 col-form-label">Highest Qualification</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" name="hqual" 
                    value="{{trainerData.highestqual}}" formControlName="hqual" readonly>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="skills" class="col-sm-4 col-form-label">Skills</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="skills" rows="3" name="skills" formControlName="skills"></textarea>
                    <small *ngIf= "skills?.invalid  && skills?.touched" class="text-danger">Skills required</small>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="company" class="col-sm-4 col-form-label">Current Company Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="company" name="company" formControlName="company">
                    <small *ngIf= "company?.invalid  && company?.touched" class="text-danger">Company name required</small>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="desig" class="col-sm-4 col-form-label">Current Designation</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="desig" name="desig" formControlName="desig">
                    <small *ngIf= "desig?.invalid  && desig?.touched" class="text-danger">
                      <small *ngIf= "desig?.hasError('required')" class="text-danger">Current designation required</small>
                    <small *ngIf= "desig?.hasError('pattern')" class="text-danger">Should not contain digits or special characters</small>
                    </small>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="courses" class="col-sm-4 col-form-label">ICTAK Courses Handling</label>
                  <div class="col-sm-8">
                    
                    <ng-multiselect-dropdown name="courses" formControlName="courses"
                    [placeholder]="'Select Courses'"
                    [settings]= "dropdownSettings"
                    [data]= "dropdownList"
                    (onSelect)= "onItemSelect($event)"
                     >
                  </ng-multiselect-dropdown>
                  <small *ngIf= "courses?.invalid  && courses?.touched" class="text-danger">Select atleast one course</small>
                  </div>
                </div>
            
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <!-- [disabled]="enroll_form.invalid" -->
      </div>
    </form>
    </div>
  </div>
</div>
