<app-header></app-header> <!-- Header Component -->

<div class="container">
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 bg-light fade-in">
                    <h4 class="text-center bg-dark text-white mb-5">Login</h4>
                    <div class="container-fluid text-center shadow">

                        <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
                            <span class="input-group-text border-0 bg-light">
                                <img class="form-label mx-2" src="../assets/icons/email.png" alt="mail-icon" width="16px">
                                
                                <input type="email" formControlName="email" 
                                name="email" id="email" class="form-control mt-2" 
                                [ngClass]="{ 'is-invalid': submitted && loginform.controls.email.errors }"
                                placeholder="E-mail" required>
                                
                            </span>
                                                        
                            <div class="text-danger" *ngIf="loginform.controls.email.errors &&
                            loginform.controls.email.touched">
                                    <small *ngIf="loginform.controls.email.errors.required">
                                        Cannot be empty
                                    </small>
    
                                    <small *ngIf="loginform.controls.email.touched && loginform.controls.email.errors.email">
                                        Not a valid email
                                    </small>
                            </div>    
                            

                             <span class="input-group-text border-0 bg-light">
                                <img class="form-label mx-2" src="../assets/icons/lock.png" alt="lock-icon" width="16px">
                                
                                <input type="password" formControlName="password" 
                                [ngClass]="{ 'is-invalid':submitted && loginform.controls.password.errors }"
                                name="password" id="password" class="form-control mt-2" 
                                placeholder="Password" minlength="8" maxlength="20" required>

                                
                             </span>
                                                          
                             <div class="text-danger" *ngIf="loginform.controls.password.errors &&
                             loginform.controls.password.touched">
                                <small *ngIf="loginform.controls.password.errors.required">
                                    Cannot be empty
                                </small>

                                <small *ngIf="loginform.controls.password.errors.minlength">
                                    Need at least 8 characters
                                </small>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block my-4 w-75" [disabled]="!loginform.valid">Login</button>
                          
                            <!-- Register buttons -->
                            <div class="text-center pb-4">
                                <p>Want to be a trainer?  
                                <a routerLink="/signup">Register Here</a>
                                </p>
                            </div>
                          </form>

                    </div>
                </div>
                <div class="col">
                    <img src="../assets/images/online-tutor.jpg" class="img-thumbnail" alt="Trainer-banner">
                </div>
            </div>
        </div>
    </div>
</div>