<div class="container-fluid bg-white">
    <div class="row d-flex justify-content-evenly my-2 py-2">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5>Your Batches</h5>
                    
                </div>
                <div class="card-body">
                    
                    
                </div>
                <div class="card-footer bg-dark text-white">

                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-header bg-dark text-white">
                </div>
                <div class="card-body">
                    <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
                <div class="card-footer bg-dark text-white">
        
                </div>
        </div>
    
    </div>
    
</div>