.div,form,input{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h2 {
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    .card-header {
        background-color: black;
    }
    form {
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 20px 0 #095484; 
        }
        input {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: calc(100% - 10px);
            padding: 5px;
            }
           